# Week 5 - Folium library instead of matplotlib

In [1]:
import folium
import pandas as pd

In [2]:
country_json_geo = 'world-countries.json'

In [3]:
data = pd.read_csv("Indicators.csv")

In [4]:
data.shape

(5656458, 6)

In [5]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [6]:
# select CO2 emission for all countries in 2011
hist_indicator = 'CO2 emissions \(metric'
hist_year = 2011
mask1 = data["IndicatorName"].str.contains(hist_indicator)
mask2 = data["Year"].isin([hist_year])

stage = data[mask1 & mask2]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5026275,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,4.724500
5026788,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,9.692960
5027295,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,6.911131
5027870,East Asia & Pacific (all income levels),EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.859548
5028456,East Asia & Pacific (developing only),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.302499

### Setup our data for plotting 
Create a data frame with just the country codes and the values we want plotted

In [12]:
plot_data = stage[["CountryCode","Value"]]
plot_data.head()

        CountryCode     Value
5026275         ARB  4.724500
5026788         CSS  9.692960
5027295         CEB  6.911131
5027870         EAS  5.859548
5028456         EAP  5.302499

In [15]:
hist_indicator = stage.iloc[0]
hist_indicator

CountryName                                  Arab World
CountryCode                                         ARB
IndicatorName    CO2 emissions (metric tons per capita)
IndicatorCode                            EN.ATM.CO2E.PC
Year                                               2011
Value                                            4.7245
Name: 5026275, dtype: object

## Okay so let's visualize CO2 emissions per capita using Folium
-----------------------------
    Folium provides interactive maps with the ability to create sophisticated for data visualization

In [20]:
# Setup a folium map at a high-level zoom @Alok - what is the 100,0, doesn't seem like lat long
map = folium.Map(location=[100, 0], zoom_start=1.5)

In [23]:
# choropleth maps bind Pandas Data Frames and json geometries.  This allows us to quickly visualize data combinations
map.choropleth(geo_path=country_json_geo, data=plot_data,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

TypeError: choropleth() got an unexpected keyword argument 'geo_path'

choropleth now takes a single <strong> geo_data</strong> <strong> </strong> instad of geo_path/geo_str leaving the parsing to GeoJSON

In [24]:
# choropleth maps bind Pandas Data Frames and json geometries.  This allows us to quickly visualize data combinations
map.choropleth(geo_data=country_json_geo, data=plot_data,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

In [25]:
#create Folium plot
map.save('plot_data.html')

In [37]:
IPython.display.display_html(*objs, **kwargs)

NameError: name 'IPython' is not defined

In [42]:
from IPython.display import HTML,display
# Import the Folium interactive html file
display.HTML(data='plot_data.html')

AttributeError: 'function' object has no attribute 'HTML'