# Data Scleaning

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 372F-3690

 Directory of C:\Users\USER\Documents\Python for data science\Week-4-Pandas

10/01/2017  02:58 PM             1,593  Data Cleaning.ipynb
10/01/2017  02:58 PM    <DIR>          .
10/01/2017  02:58 PM    <DIR>          ..
05/29/2017  11:04 AM             6,148 .DS_Store
10/01/2017  02:39 PM    <DIR>          .ipynb_checkpoints
05/26/2017  02:38 PM                 0 Icon_
05/29/2017  11:04 AM            33,379 Introduction to Pandas.ipynb
05/29/2017  11:04 AM    <DIR>          movielens
09/28/2017  03:58 PM               880 Pandas - Descriptive Statistics .ipynb
09/25/2017  10:34 AM            54,086 Pandas 1 - Python for data science.ipynb
               6 File(s)         96,086 bytes
               4 Dir(s)  19,845,533,696 bytes free

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 372F-3690

 Directory of C:\Users\USER\Documents\Python for data science\Week-4-Pandas

10/01/2017  03:04 PM             2,905  Data Cleaning.ipynb
10/01/2017  03:04 PM    <DIR>          .
10/01/2017  03:04 PM    <DIR>          ..
05/29/2017  11:04 AM             6,148 .DS_Store
10/01/2017  02:39 PM    <DIR>          .ipynb_checkpoints
05/26/2017  02:38 PM                 0 Icon_
05/29/2017  11:04 AM            33,379 Introduction to Pandas.ipynb
10/17/2016  10:12 AM    <DIR>          ml-20m
05/29/2017  11:04 AM    <DIR>          movielens
09/28/2017  03:58 PM               880 Pandas - Descriptive Statistics .ipynb
09/25/2017  10:34 AM            54,086 Pandas 1 - Python for data science.ipynb
               6 File(s)         97,398 bytes
               5 Dir(s)  19,846,291,456 bytes free

In [7]:
import pandas as pd

In [9]:
ls ml-20m

 Volume in drive C has no label.
 Volume Serial Number is 372F-3690

 Directory of C:\Users\USER\Documents\Python for data science\Week-4-Pandas\ml-20m

10/17/2016  10:12 AM    <DIR>          .
10/17/2016  10:12 AM    <DIR>          ..
10/17/2016  09:41 AM       323,544,381 genome-scores.csv
10/17/2016  09:41 AM            18,103 genome-tags.csv
10/17/2016  09:50 AM           570,090 links.csv
03/31/2015  04:17 PM         1,397,542 movies.csv
03/31/2015  04:14 PM       533,444,411 ratings.csv
10/17/2016  10:21 AM            10,261 README.txt
03/31/2015  04:01 PM        16,603,996 tags.csv
               7 File(s)    875,588,784 bytes
               2 Dir(s)  19,845,017,600 bytes free

In [11]:
ratings = pd.read_csv("ml-20m/ratings.csv",sep=",")

In [12]:
movies = pd.read_csv("ml-20m/movies.csv",sep=",")

In [14]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [15]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
ratings.shape

(20000263, 4)

In [19]:
# is any row NULL?

In [25]:
ratings.isnull().any # it means that NO NULL values

<bound method DataFrame.any of          userId movieId rating timestamp
0         False   False  False     False
1         False   False  False     False
2         False   False  False     False
3         False   False  False     False
4         False   False  False     False
5         False   False  False     False
6         False   False  False     False
7         False   False  False     False
8         False   False  False     False
9         False   False  False     False
10        False   False  False     False
11        False   False  False     False
12        False   False  False     False
13        False   False  False     False
14        False   False  False     False
15        False   False  False     False
16        False   False  False     False
17        False   False  False     False
18        False   False  False     False
19        False   False  False     False
20        False   False  False     False
21        False   False  False     False
22        False   False  False     False
23        False   False  False     False
24        False   False  False     False
25        False   False  False     False
26        False   False  False     False
27        False   False  False     False
28        False   False  False     False
29        False   False  False     False
...         ...     ...    ...       ...
20000233  False   False  False     False
20000234  False   False  False     False
20000235  False   False  False     False
20000236  False   False  False     False
20000237  False   False  False     False
20000238  False   False  False     False
20000239  False   False  False     False
20000240  False   False  False     False
20000241  False   False  False     False
20000242  False   False  False     False
20000243  False   False  False     False
20000244  False   False  False     False
20000245  False   False  False     False
20000246  False   False  False     False
20000247  False   False  False     False
20000248  False   False  False     False
20000249  False   False  False     False
20000250  False   False  False     False
20000251  False   False  False     False
20000252  False   False  False     False
20000253  False   False  False     False
20000254  False   False  False     False
20000255  False   False  False     False
20000256  False   False  False     False
20000257  False   False  False     False
20000258  False   False  False     False
20000259  False   False  False     False
20000260  False   False  False     False
20000261  False   False  False     False
20000262  False   False  False     False

[20000263 rows x 4 columns]>

In [27]:
movies.shape

(27278, 3)

In [29]:
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [30]:
# That's nice. There is also no NULL

In [31]:
tags= pd.read_csv("ml-20m/tags.csv")

In [32]:
tags.shape

(465564, 4)

In [33]:
tags.isnull().any()

userId       False
movieId      False
tag           True
timestamp    False
dtype: bool

In [34]:
# =) Tags have NULL value

In [40]:
tags=tags.dropna() # sau khi phat hien missing data, ta drop it

In [41]:
tags.isnull().any()

userId       False
movieId      False
tag          False
timestamp    False
dtype: bool

In [42]:
tags["tag"]

0                                               Mark Waters
1                                                 dark hero
2                                                 dark hero
3                                             noir thriller
4                                                 dark hero
5                                                 bollywood
6                                          screwball comedy
7                                             noir thriller
8                                                      mars
9                                                  neo-noir
10                                                    jesus
11                                            noir thriller
12                                                    jesus
13                                                   dragon
14                                        conspiracy theory
15                                                     mars
16                                            noir thriller
17                                                    jesus
18                                                    jesus
19                                                bollywood
20                                                 treasure
21                                                dark hero
22                                            noir thriller
23                                                    jesus
24                                                 stranded
25                                        conspiracy theory
26                       Oscar (Best Foreign Language Film)
27                                              New Zealand
28                                                  surreal
29                                                  unusual
                                ...
465534                                             big hair
465535                                        Mark Wahlberg
465536                                                 pigs
465537                                         prostitution
465538    This movie should have been called "How Cocain...
465539                                            Christmas
465540                                                funny
465541                                       Judge Reinhold
465542                                            Tim Allen
465543                                            whiny kid
465544                                      family friendly
465545                                      halloween scene
465546                                               quirky
465547                                        topless scene
465548                                            Christmas
465549                                              classic
465550                                                funny
465551                                                scary
465552                                            Peter Pan
465553                                           soundtrack
465554                                   visually appealing
465555                                      family friendly
465556                     Scary Movies To See on Halloween
465557                                            Peter Pan
465558                                   visually appealing
465559                                              dragged
465560                                        Jason Bateman
465561                                               quirky
465562                                                  sad
465563                                        rise to power
Name: tag, dtype: object