#  Frequent Data Operations

In [1]:
import pandas as pd

In [2]:
ls ml-20m

 Volume in drive C has no label.
 Volume Serial Number is 372F-3690

 Directory of C:\Users\USER\Documents\Python for data science\Week-4-Pandas\ml-20m

10/17/2016  10:12 AM    <DIR>          .
10/17/2016  10:12 AM    <DIR>          ..
10/17/2016  09:41 AM       323,544,381 genome-scores.csv
10/17/2016  09:41 AM            18,103 genome-tags.csv
10/17/2016  09:50 AM           570,090 links.csv
03/31/2015  04:17 PM         1,397,542 movies.csv
03/31/2015  04:14 PM       533,444,411 ratings.csv
10/17/2016  10:21 AM            10,261 README.txt
03/31/2015  04:01 PM        16,603,996 tags.csv
               7 File(s)    875,588,784 bytes
               2 Dir(s)  19,816,648,704 bytes free

In [5]:
tags= pd.read_csv("ml-20m/tags.csv", sep=",")

In [6]:
tags["tag"].head()

0      Mark Waters
1        dark hero
2        dark hero
3    noir thriller
4        dark hero
Name: tag, dtype: object

In [7]:
movies= pd.read_csv("ml-20m/movies.csv", sep=",")

In [15]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
movies[["title","genres"]].head()

,title,genres
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),Adventure|Children|Fantasy
2,Grumpier Old Men (1995),Comedy|Romance
3,Waiting to Exhale (1995),Comedy|Drama|Romance
4,Father of the Bride Part II (1995),Comedy

In [16]:
ratings=pd.read_csv("ml-20m/ratings.csv",sep=",")

In [17]:
ratings[:9]

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
5       1      112     3.5  1094785740
6       1      151     4.0  1094785734
7       1      223     4.0  1112485573
8       1      253     4.0  1112484940

In [18]:
ratings[-10:]

          userId  movieId  rating   timestamp
20000253  138493    60816     4.5  1259865163
20000254  138493    61160     4.0  1258390537
20000255  138493    65682     4.5  1255816373
20000256  138493    66762     4.5  1255805408
20000257  138493    68319     4.5  1260209720
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

In [21]:
print (tags["tag"])

0                                               Mark Waters
1                                                 dark hero
2                                                 dark hero
3                                             noir thriller
4                                                 dark hero
5                                                 bollywood
6                                          screwball comedy
7                                             noir thriller
8                                                      mars
9                                                  neo-noir
10                                                    jesus
11                                            noir thriller
12                                                    jesus
13                                                   dragon
14                                        conspiracy theory
15                                                     mars
16                                            noir thriller
17                                                    jesus
18                                                    jesus
19                                                bollywood
20                                                 treasure
21                                                dark hero
22                                            noir thriller
23                                                    jesus
24                                                 stranded
25                                        conspiracy theory
26                       Oscar (Best Foreign Language Film)
27                                              New Zealand
28                                                  surreal
29                                                  unusual
                                ...
465534                                             big hair
465535                                        Mark Wahlberg
465536                                                 pigs
465537                                         prostitution
465538    This movie should have been called "How Cocain...
465539                                            Christmas
465540                                                funny
465541                                       Judge Reinhold
465542                                            Tim Allen
465543                                            whiny kid
465544                                      family friendly
465545                                      halloween scene
465546                                               quirky
465547                                        topless scene
465548                                            Christmas
465549                                              classic
465550                                                funny
465551                                                scary
465552                                            Peter Pan
465553                                           soundtrack
465554                                   visually appealing
465555                                      family friendly
465556                     Scary Movies To See on Halloween
465557                                            Peter Pan
465558                                   visually appealing
465559                                              dragged
465560                                        Jason Bateman
465561                                               quirky
465562                                                  sad
465563                                        rise to power
Name: tag, dtype: object

In [26]:
tag_counts=tags["tag"].value_counts()
tag_counts[:-10:]

sci-fi                                                                                                                               3384
based on a book                                                                                                                      3281
atmospheric                                                                                                                          2917
comedy                                                                                                                               2779
action                                                                                                                               2657
surreal                                                                                                                              2427
BD-R                                                                                                                                 2334
twist ending                                                                                                                         2323
funny                                                                                                                                2072
dystopia                                                                                                                             1991
stylized                                                                                                                             1941
quirky                                                                                                                               1906
dark comedy                                                                                                                          1899
classic                                                                                                                              1769
psychology                                                                                                                           1754
fantasy                                                                                                                              1703
time travel                                                                                                                          1549
romance                                                                                                                              1534
visually appealing                                                                                                                   1509
disturbing                                                                                                                           1487
aliens                                                                                                                               1428
thought-provoking                                                                                                                    1422
social commentary                                                                                                                    1417
Nudity (Topless)                                                                                                                     1400
violence                                                                                                                             1336
drugs                                                                                                                                1312
Criterion                                                                                                                            1286
true story                                                                                                                           1276
nudity (topless)                                                                                                                     1245
adventure                                                                                                                            1243
                                                                                                                                     ...
londo                                                                                                                                   1
Ashutosh Gowariker                                                                                                                      1
QuÃƒÂ©bÃƒÂ©cois                                                                                                                         1
probably deserves at least as much as Shallow Grave...                                                                                  1
russian composers                                                                                                                       1
Disturbing and grotesque - what a nightmare                                                                                             1
Peter Gabriel                                                                                                                           1
Phil                                                                                                                                    1
beautiful actresses                                                                                                                     1
black vs. white                                                                                                                         1
Ed Stone                                                                                                                                1
Chris Nahon                                                                                                                             1
symbols                                                                                                                                 1
a keen eye for crime and an instinct as a soon-to-be mother to stay one step ahead of all the brainless midwesterners around her.       1
comes apart in last third                                                                                                               1
trailer gives it away                                                                                                                   1
transcendentialist                                                                                                                      1
a little dated                                                                                                                          1
Oscar Grant                                                                                                                             1
move it football head                                                                                                                   1
Busta Rhymes                                                                                                                            1
polar night                                                                                                                             1
Lacan                                                                                                                                   1
Doesn't Translate Well - Still Pretty Good                                                                                              1
Freudian                                                                                                                                1
real rats drowned                                                                                                                       1
Good Oldskool Movie                                                                                                                     1
Silvio Narizzano                                                                                                                        1
Jersey                                                                                                                                  1
Logic                                                                                                                                   1
Name: tag, dtype: int64

# hàm value_counts

Here we'll use the value_counts function.
Value_counts function will let you find out
the count of each unique value occurring in the input.

In [27]:
tag_counts[:10]

sci-fi             3384
based on a book    3281
atmospheric        2917
comedy             2779
action             2657
surreal            2427
BD-R               2334
twist ending       2323
funny              2072
dystopia           1991
Name: tag, dtype: int64

In [35]:
tag_counts[:10].plot(kind='bar', figsize=(10,10))

# Filters for selecting rows

In [36]:
is_highly_rated=ratings["rating"] >=4.0
ratings[is_highly_rated][-5:]

          userId  movieId  rating   timestamp
20000256  138493    66762     4.5  1255805408
20000257  138493    68319     4.5  1260209720
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000261  138493    70286     5.0  1258126944